# === WAJIB DIISI ===
API_BASE_URL=https://atlantich2h.com
API_SECRET_KEY=mpV4LIXRyY270lzwP3hb4wq8ohyKiASgxJSzjwiG6PEzkR6uLuZmHPN41QM6turTbKPa06yOz7gGQjPFkBIeLQvbuaq7C4NXmBGh

# === ADMIN ===
# Password login halaman admin
ADMIN_PASSWORD=Jeeyhosting009

# Token sesi admin — buat string acak min 32 karakter
ADMIN_TOKEN=Jeeyhosting009

# === BISNIS ===
# Profit dalam persen (1 = 1%)
PROFIT_PERCENT=1

# Nomor WA owner tanpa + (untuk fallback WhatsApp)
OWNER_WHATSAPP=6283122028438
